<footer class="mt-5">
    <div class="container-fluid text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <img src="https://graph.org/file/ad9dfe6024f6a897e47f0.png" alt="Logo" style="width: 100px;">
                </div>
                <div class="col-12 col-md-6 text-center text-md-start mb-3">
                    <h3>Western Caspian</h3>
                    <h4>University</h4>
                    <span>+994558540864</span>
                </div>
                <div class="col-12 col-md-6 text-center mb-3">
                    <a href="./projects.html" class="text-white mx-2">Layihələr</a>
                    <a href="./services.html" class="text-white mx-2">Xidmətlər</a>
                    <a href="./contacts.html" class="text-white mx-2">Əlaqə</a>
                    <a href="./new.html" class="text-white mx-2">Yeniliklər</a>
                </div>
                <div class="col-12 text-center mb-3">
                    <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="github.com/Wcu-texnopark" class="text-white mx-2"><i class="fab fa-github"></i></a>
                    <a href="https://instagram.com/wcutexnopark" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                    <a href="linkedin.com/in/qiyascc" class="text-white mx-2"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-12 text-center">
                    <span>texnopark.com</span>
                </div>
            </div>
        </div>
    </div>
</footer>